<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>doctors</display-name>
	<welcome-file-list>
		<welcome-file>Index</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:mysql://localhost:3306/doctors?useUnicode=yes&amp;characterEncoding=UTF-8</param-value>
	</context-param>

	<context-param>
		<param-name>dbuser</param-name>
		<param-value>jim</param-value>
	</context-param>

	<context-param>
		<param-name>dbpass</param-name>
		<param-value>jim</param-value>
	</context-param>

	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>doctors.controllers.IndexController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>doctors.controllers.LoginController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>doctors.controllers.LogoutController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>doctors.controllers.RegisterController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GotoRegisterController</servlet-name>
		<servlet-class>doctors.controllers.GotoRegisterController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GotoRegisterController</servlet-name>
		<url-pattern>/GotoRegister</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchDoctorsController</servlet-name>
		<servlet-class>doctors.controllers.SearchDoctorsController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SearchDoctorsController</servlet-name>
		<url-pattern>/SearchDoctors</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetDoctorController</servlet-name>
		<servlet-class>doctors.controllers.GetDoctorController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetDoctorController</servlet-name>
		<url-pattern>/GetDoctor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAppointmentController</servlet-name>
		<servlet-class>doctors.controllers.GetAppointmentController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetAppointmentController</servlet-name>
		<url-pattern>/GetAppointment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BookAppointmentController</servlet-name>
		<servlet-class>doctors.controllers.BookAppointmentController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BookAppointmentController</servlet-name>
		<url-pattern>/BookAppointment</url-pattern>
	</servlet-mapping>
	
	<listener>
  		<listener-class>
   			doctors.framework.SessionCounter
  		</listener-class>
	</listener>
	
	<session-config>
  		<session-timeout>10</session-timeout>
	</session-config>

</web-app>